<%= render 'giornate' %>
<br /><br /><br />
<div class="classifica principale">
 	 	<table class="table table-condensed">
 	 	  <caption>
 	 	  	<span>Classifica Campionato C2:</span><br />
 	 	  	<span class="data">Aggiornata al:09-07-13</span>
 	 	  </caption>
		  <thead>
		    <tr>
		      <th>Pos.</th>
		      <th>Squadra</th>
		      <th>G.</th>
		      <th>Pt.</th>
		    </tr>
		  </thead>
		  <tbody>
		    <tr>
		      <td>1</td>
		      <td><strong>Rugby Valpolicella</strong></td>
		      <td>2</td>
		      <td>8</td>
		    </tr>
		    <tr>
		      <td>2</td>
		      <td>Rugby Trento</td>
		      <td>2</td>
		      <td>5</td>
		    </tr>
		    <tr>
		      <td>3</td>
		      <td>Rugby Valeggio</td>
		      <td>2</td>
		      <td>5</td>
		    </tr>
		    <tr>
		      <td>4</td>
		      <td>Lagaria Rovereto</td>
		      <td>1</td>
		      <td>4</td>
		    </tr>
		    <tr>
		      <td>5</td>
		      <td>Sirena Oltrefersina</td>
		      <td>1</td>
		      <td>4</td>
		    </tr>
		    <tr>
		      <td>6</td>
		      <td>Sudtirolo Rugby</td>
		      <td>2</td>
		      <td>4</td>
		    </tr>
		    <tr>
		      <td>7</td>
		      <td>West Verona</td>
		      <td>2</td>
		      <td>1</td>
		    </tr>
		    <tr>
		      <td>8</td>
		      <td>Cedroni Val di Non</td>
		      <td>1</td>
		      <td>0</td>
		    </tr>
		    <tr>
		      <td>9</td>
		      <td>Benacense</td>
		      <td>1</td>
		      <td>0</td>
		    </tr>
		  </tbody>
		</table>
 	 </div>