<br />
<div class="row-fluid">
	<div class="offset1 span10">
		<h3>Contattaci per qualsiasi informazione!</h3>
		<br />
		<p class"lead">Nicola (Presidente): 340-3575764</p>
		<p class"lead">Fabiano (Capitano Squadra Maschile): 338-4770229</p>
		<p class"lead">Fabrizia (Capitano Squadra Femminile): 349-8824390</p>
		<div class="mipiace">
 		<br /><br />
	 		<h5>Seguici anche su Facebook:</h5>
	 		<div class="fb-like" data-href="https://www.facebook.com/pages/Rugby-Cedroni/192585904157831?fref=ts" data-send="false" data-width="100%" data-show-faces="true" data-font="verdana"></div>
 	 	</div>
	</div>
</div>