<br />
<div class="row-fluid">
	<div class="offset1 span10">
		<h3>E’ arrivato il Rugby in val di Non…Provalo!</h3>

		<p class"lead">Orari Allenamento:</p> 
		<p>Squadra Maschile: martedì e venerdì dalle 20.30 alle 22.30</p>
		<p>Squadra Femminile: martedì e venerdì dalle 20.30 alle 22.30</p>
		<p class="lead">ALLENAMENTO AL CAMPO SPORTIVO DI REVO’</p>
		<p>Per info:<p>
		<p>Nicola (Presidente): 340-3575764</p>
		<p>Fabiano (Capitano Squadra Maschile): 338-4770229</p>
		<p>Fabrizia (Capitano Squadra Femminile): 349-8824390</p>

		<!-- <img src="https://fbcdn-sphotos-f-a.akamaihd.net/hphotos-ak-ash3/522458_440067842742968_1494596293_n.jpg"> -->

		<%=image_tag("playwithus2.png")%>
	</div>
</div>