<br /><br />
<div class="center">
	<h4>Staff Cedroni Maschile 2015/2016</h4>
</div>
<br />
<div class="row-fluid">
	<div class="span6">
	 <div class="principale">
		<div class="row-fluid textimage">			
			<div class="imageContainer avatarSize">
				<img src="http://i.imgur.com/iNg0bat.png" >
			</div>
			<div class="testonews">
				<div class="post-header">
					<span class="titolo">Head Coach</span>
				</div>
				<h6>Rosati Daniele</h6>
			</div>
			<div class=”clearer”> </div>
		</div>
	 </div>
	</div>
	<div class="span6">
	 <div class="principale">
		<div class="row-fluid textimage">			
			<div class="imageContainer avatarSize">
				<img src="http://i.imgur.com/Q2mrWxB.png" >
			</div>
			<div class="testonews">
				<div class="post-header">
					<span class="titolo">Allenatore 3/4</span>
				</div>
				<h6>Salmoiraghi Pablo</h6>
			</div>
			<div class=”clearer”> </div>
		</div>
	 </div>
	</div>
</div>
<div class="row-fluid">
	<div class="span6">
	 <div class="principale">
		<div class="row-fluid textimage">			
			<div class="imageContainer avatarSize">
				<img src="http://i.imgur.com/rtorVrj.png" >
			</div>
			<div class="testonews">
				<div class="post-header">
					<span class="titolo">Preparatore Atletico</span>
				</div>
				<h6>Martini Luca</h6>
			</div>
			<div class=”clearer”> </div>
		</div>
	 </div>
	</div>
</div>
<br /><br />
<div class="center">
	<h4>Rosa Cedroni Maschile 2015/2016</h4>
</div>
<br />
<div class="row-fluid">
	<div class="span6">
	 <div class="principale">
		<div class="row-fluid textimage">			
			<div class="imageContainer avatarSize">
				<img src="http://www.anti-slapp.org/wp-content/uploads/2011/06/default_gravatar.jpg" >
			</div>
			<div class="testonews">
				<div class="post-header">
					<span class="titolo">Flanker/Nr. 8</span>
				</div>
				<h6>Amato Simone</h6>
				<p>Altezza: 183 cm</p>
				<p>Peso: 86 kg</p>
				<p>Anno: 1987</p>
				<p>Provenienza: Romeno</p>
			</div>
			<div class=”clearer”> </div>
		</div>
	 </div>
	</div>
	<div class="span6">
	 <div class="principale">
		<div class="row-fluid textimage">			
			<div class="imageContainer avatarSize">
				<img src="http://www.anti-slapp.org/wp-content/uploads/2011/06/default_gravatar.jpg" >
			</div>
			<div class="testonews">
				<div class="post-header">
					<span class="titolo">Pilone</span>
				</div>
				<h6>Gianni Paccalini</h6>
				<p>Altezza: 176 cm</p>
				<p>Peso: 96 kg</p>
				<p>Anno: 1981</p>
				<p>Provenienza: Tuenno</p>
			</div>
			<div class=”clearer”> </div>
		</div>
	 </div>
	</div>
</div>
<div class="row-fluid">
	<div class="span6">
	 <div class="principale">
		<div class="row-fluid textimage">			
			<div class="imageContainer avatarSize">
				<img src="http://i.imgur.com/5NymHco.png" >
			</div>
			<div class="testonews">
				<div class="post-header">
					<span class="titolo">Tallonatore/Pilone</span>
				</div>
				<h6>Colapietro Andrea</h6>
				<p>Altezza: 172 cm</p>
				<p>Peso: 92 kg</p>
				<p>Anno: 1990</p>
				<p>Provenienza: Fondo</p>
			</div>
			<div class=”clearer”> </div>
		</div>
	 </div>
	</div>
    <div class="span6">
	 <div class="principale">
		<div class="row-fluid textimage">			
			<div class="imageContainer avatarSize">
				<img src="http://www.anti-slapp.org/wp-content/uploads/2011/06/default_gravatar.jpg" >
			</div>
			<div class="testonews">
				<div class="post-header">
					<span class="titolo">Ala</span>
				</div>
				<h6>Paccalini Jonny</h6>
				<p>Altezza: 175 cm</p>
				<p>Peso: 75 kg</p>
				<p>Anno: 1993</p>
				<p>Provenienza: Tuenno</p>
			</div>
			<div class=”clearer”> </div>
		</div>
	 </div>
	</div>
</div>
<div class="row-fluid">
	<div class="span6">
	 <div class="principale">
		<div class="row-fluid textimage">			
			<div class="imageContainer avatarSize">
				<img src="http://i.imgur.com/YFbRGAe.png" >
			</div>
			<div class="testonews">
				<div class="post-header">
					<span class="titolo">Ala</span>
				</div>
				<h6>Covi Alessio</h6>
				<p>Altezza: 183 cm</p>
				<p>Peso: 80 kg</p>
				<p>Anno: 1995</p>
				<p>Provenienza: Fondo</p>
			</div>
			<div class=”clearer”> </div>
		</div>
	 </div>
	</div>
	<div class="span6">
	 <div class="principale">
		<div class="row-fluid textimage">			
			<div class="imageContainer avatarSize">
				<img src="http://i.imgur.com/MUIy3hg.png" >
			</div>
			<div class="testonews">
				<div class="post-header">
					<span class="titolo">Flanker/Pilone</span>
				</div>
				<h6>Covi Matteo</h6>
				<p>Altezza: 177 cm</p>
				<p>Peso: 88 kg</p>
				<p>Anno: 1982</p>
				<p>Provenienza: Fondo</p>
			</div>
			<div class=”clearer”> </div>
		</div>
	 </div>
	</div>
</div>
<div class="row-fluid">
	<div class="span6">
	 <div class="principale">
		<div class="row-fluid textimage">			
			<div class="imageContainer avatarSize">
				<img src="http://i.imgur.com/eDWkMem.png" >
			</div>
			<div class="testonews">
				<div class="post-header">
					<span class="titolo">Flanker</span>
				</div>
				<h6>Galeaz Daniele</h6>
				<p>Altezza: 186 cm</p>
				<p>Peso: 82 kg</p>
				<p>Anno: 1991</p>
				<p>Provenienza: Dambel</p>
			</div>
			<div class=”clearer”> </div>
		</div>
	 </div>
	</div>
	<div class="span6">
	 <div class="principale">
		<div class="row-fluid textimage">			
			<div class="imageContainer avatarSize">
				<img src="http://i.imgur.com/lgWr2xO.png" >
			</div>
			<div class="testonews">
				<div class="post-header">
					<span class="titolo">Centro/Apertura</span>
				</div>
				<h6>Kofler Klaus</h6>
				<p>Altezza: 175 cm</p>
				<p>Peso: 80 kg</p>
				<p>Anno: 1988</p>
				<p>Provenienza: S.Felice</p>
			</div>
			<div class=”clearer”> </div>
		</div>
	 </div>
	</div>
</div>
<div class="row-fluid">
	<div class="span6">
	 <div class="principale">
		<div class="row-fluid textimage">			
			<div class="imageContainer avatarSize">
				<img src="http://www.anti-slapp.org/wp-content/uploads/2011/06/default_gravatar.jpg" >
			</div>
			<div class="testonews">
				<div class="post-header">
					<span class="titolo">Flanker</span>
				</div>
				<h6>Ianes Thomas</h6>
				<p>Altezza: 181 cm</p>
				<p>Peso: 85 kg</p>
				<p>Anno: 1985</p>
				<p>Provenienza: Castelfondo</p>
			</div>
			<div class=”clearer”> </div>
		</div>
	 </div>
	</div>
	<div class="span6">
	 <div class="principale">
		<div class="row-fluid textimage">			
			<div class="imageContainer avatarSize">
				<img src="http://i.imgur.com/Jvqak2a.png" >
			</div>
			<div class="testonews">
				<div class="post-header">
					<span class="titolo">Seconda Linea</span>
				</div>
				<h6>Inama Martin</h6>
				<p>Altezza: 197 cm</p>
				<p>Peso: 102 kg</p>
				<p>Anno: 1986</p>
				<p>Provenienza: Romeno</p>
			</div>
			<div class=”clearer”> </div>
		</div>
	 </div>
	</div>
</div>
<div class="row-fluid">
	<div class="span6">
	 <div class="principale">
		<div class="row-fluid textimage">			
			<div class="imageContainer avatarSize">
				<img src="http://i.imgur.com/WWL86N5.png" >
			</div>
			<div class="testonews">
				<div class="post-header">
					<span class="titolo">Centro</span>
				</div>
				<h6>Leonardi Tommaso</h6>
				<p>Altezza: 173 cm</p>
				<p>Peso: 78 kg</p>
				<p>Anno: 1991</p>
				<p>Provenienza: Tuenno</p>
			</div>
			<div class=”clearer”> </div>
		</div>
	 </div>
	</div>
	<div class="span6">
	 <div class="principale">
		<div class="row-fluid textimage">			
			<div class="imageContainer avatarSize">
				<img src="http://i.imgur.com/wejryAF.png" >
			</div>
			<div class="testonews">
				<div class="post-header">
					<span class="titolo">Ala</span>
				</div>
				<h6>Maggi Giorgio</h6>
				<p>Altezza: 179 cm</p>
				<p>Peso: 86 kg</p>
				<p>Anno: 1980</p>
				<p>Provenienza: Romallo</p>
			</div>
			<div class=”clearer”> </div>
		</div>
	 </div>
	</div>
</div>
<div class="row-fluid">
	<div class="span6">
	 <div class="principale">
		<div class="row-fluid textimage">			
			<div class="imageContainer avatarSize">
				<img src="http://i.imgur.com/gdo0Zw5.png" >
			</div>
			<div class="testonews">
				<div class="post-header">
					<span class="titolo">Ala</span>
				</div>
				<h6>Manaigo Simone</h6>
				<p>Altezza: 188 cm</p>
				<p>Peso: 82 kg</p>
				<p>Anno: 1991</p>
				<p>Provenienza: Cles</p>
			</div>
			<div class=”clearer”> </div>
		</div>
	 </div>
	</div>
	<div class="span6">
	 <div class="principale">
		<div class="row-fluid textimage">			
			<div class="imageContainer avatarSize">
				<img src="http://i.imgur.com/VRnCNk8.png" >
			</div>
			<div class="testonews">
				<div class="post-header">
					<span class="titolo">Mediano di Mischia</span>
				</div>
				<h6>Martintoni Davide</h6>
				<p>Altezza: 183 cm</p>
				<p>Peso: 77 kg</p>
				<p>Anno: 1992</p>
				<p>Provenienza: Dambel</p>
			</div>
			<div class=”clearer”> </div>
		</div>
	 </div>
	</div>
</div>
<div class="row-fluid">
	<div class="span6">
	 <div class="principale">
		<div class="row-fluid textimage">			
			<div class="imageContainer avatarSize">
				<img src="http://i.imgur.com/cCLchZW.png" >
			</div>
			<div class="testonews">
				<div class="post-header">
					<span class="titolo">Pilone</span>
				</div>
				<h6>Pezzini Daniele</h6>
				<p>Altezza: 185 cm</p>
				<p>Peso: 115 kg</p>
				<p>Anno: 1989</p>
				<p>Provenienza: Amblar</p>
			</div>
			<div class=”clearer”> </div>
		</div>
	 </div>
	</div>
	<div class="span6">
	 <div class="principale">
		<div class="row-fluid textimage">			
			<div class="imageContainer avatarSize">
				<img src="http://i.imgur.com/cTSuE0R.png" >
			</div>
			<div class="testonews">
				<div class="post-header">
					<span class="titolo">Pilone</span>
				</div>
				<h6>Rauzi Fabiano (Capitano)</h6>
				<p>Altezza: 187 cm</p>
				<p>Peso: 105 kg</p>
				<p>Anno: 1979</p>
				<p>Provenienza: Cloz</p>
			</div>
			<div class=”clearer”> </div>
		</div>
	 </div>
	</div>
</div>
<div class="row-fluid">
	<div class="span6">
	 <div class="principale">
		<div class="row-fluid textimage">			
			<div class="imageContainer avatarSize">
				<img src="http://i.imgur.com/5lJk6Qm.png" >
			</div>
			<div class="testonews">
				<div class="post-header">
					<span class="titolo">Centro</span>
				</div>
				<h6>Rosati Damiano</h6>
				<p>Altezza: 176 cm</p>
				<p>Peso: 81 kg</p>
				<p>Anno: 1995</p>
				<p>Provenienza: Romeno</p>
			</div>
			<div class=”clearer”> </div>
		</div>
	 </div>
	</div>
	<div class="span6">
	 <div class="principale">
		<div class="row-fluid textimage">			
			<div class="imageContainer avatarSize">
				<img src="http://www.anti-slapp.org/wp-content/uploads/2011/06/default_gravatar.jpg" >
			</div>
			<div class="testonews">
				<div class="post-header">
					<span class="titolo">Flanker / Seconda Linea</span>
				</div>
				<h6>Inama Riccardo</h6>
				<p>Altezza: 190 cm</p>
				<p>Peso: 91 kg</p>
				<p>Anno: 1991</p>
				<p>Provenienza: Denno</p>
			</div>
			<div class=”clearer”> </div>
		</div>
	 </div>
	</div>
</div>
<div class="row-fluid">
	<div class="span6">
	 <div class="principale">
		<div class="row-fluid textimage">			
			<div class="imageContainer avatarSize">
				<img src="http://i.imgur.com/WEZcAFm.png" >
			</div>
			<div class="testonews">
				<div class="post-header">
					<span class="titolo">Flanker</span>
				</div>
				<h6>Springhetti Filippo</h6>
				<p>Altezza: 179 cm</p>
				<p>Peso: 86 kg</p>
				<p>Anno: 1987</p>
				<p>Provenienza: Cavareno</p>
			</div>
			<div class=”clearer”> </div>
		</div>
	 </div>
	</div>
	<div class="span6">
	 <div class="principale">
		<div class="row-fluid textimage">			
			<div class="imageContainer avatarSize">
				<img src="http://i.imgur.com/mwv5GRd.png" >
			</div>
			<div class="testonews">
				<div class="post-header">
					<span class="titolo">Mediano d'Apertura</span>
				</div>
				<h6>Straudi Nicola</h6>
				<p>Altezza: 170 cm</p>
				<p>Peso: 86 kg</p>
				<p>Anno: 1985</p>
				<p>Provenienza: Don</p>
			</div>
			<div class=”clearer”> </div>
		</div>
	 </div>
	</div>
</div>
<div class="row-fluid">
	<div class="span6">
	 <div class="principale">
		<div class="row-fluid textimage">			
			<div class="imageContainer avatarSize">
				<img src="http://i.imgur.com/xKq2sUb.png" >
			</div>
			<div class="testonews">
				<div class="post-header">
					<span class="titolo">Seconda Linea</span>
				</div>
				<h6>Turri Moreno</h6>
				<p>Altezza: 192 cm</p>
				<p>Peso: 85 kg</p>
				<p>Anno: 1986</p>
				<p>Provenienza: Castelfondo</p>
			</div>
			<div class=”clearer”> </div>
		</div>
	 </div>
	</div>
	<div class="span6">
	 <div class="principale">
		<div class="row-fluid textimage">			
			<div class="imageContainer avatarSize">
				<img src="http://www.anti-slapp.org/wp-content/uploads/2011/06/default_gravatar.jpg" >
			</div>
			<div class="testonews">
				<div class="post-header">
					<span class="titolo">Flanker</span>
				</div>
				<h6>Facinelli Daniele</h6>
				<p>Altezza: 178 cm</p>
				<p>Peso: 88 kg</p>
				<p>Anno: 1999</p>
				<p>Provenienza: Revò</p>
			</div>
			<div class=”clearer”> </div>
		</div>
	 </div>
	</div>
</div>
<div class="row-fluid">
	<div class="span6">
	 <div class="principale">
		<div class="row-fluid textimage">			
			<div class="imageContainer avatarSize">
				<img src="http://www.anti-slapp.org/wp-content/uploads/2011/06/default_gravatar.jpg" >
			</div>
			<div class="testonews">
				<div class="post-header">
					<span class="titolo">Ala/Estremo</span>
				</div>
				<h6>Zadra Ivan</h6>
				<p>Altezza: 170 cm</p>
				<p>Peso: 61 kg</p>
				<p>Anno: 1991</p>
				<p>Provenienza: Tres</p>
			</div>
			<div class=”clearer”> </div>
		</div>
	 </div>
	</div>
	<div class="span6">
	 <div class="principale">
		<div class="row-fluid textimage">			
			<div class="imageContainer avatarSize">
				<img src="http://i.imgur.com/iKdpixI.png" >
			</div>
			<div class="testonews">
				<div class="post-header">
					<span class="titolo">Ala/Estremo</span>
				</div>
				<h6>Zadra Nicola</h6>
				<p>Altezza: 170 cm</p>
				<p>Peso: 66 kg</p>
				<p>Anno: 1991</p>
				<p>Provenienza: Tres</p>
			</div>
			<div class=”clearer”> </div>
		</div>
	 </div>
	</div>
</div>
<div class="row-fluid">
	<div class="span6">
	 <div class="principale">
		<div class="row-fluid textimage">			
			<div class="imageContainer avatarSize">
				<img src="http://i.imgur.com/qXTd5EY.png" >
			</div>
			<div class="testonews">
				<div class="post-header">
					<span class="titolo">Mediano di Mischia</span>
				</div>
				<h6>Salmoiraghi Thomas</h6>
				<p>Altezza: 180 cm</p>
				<p>Peso: 60 kg</p>
				<p>Anno: 1994</p>
				<p>Provenienza: Cles</p>
			</div>
			<div class=”clearer”> </div>
		</div>
	 </div>
	</div>
	<div class="span6">
	 <div class="principale">
		<div class="row-fluid textimage">			
			<div class="imageContainer avatarSize">
				<img src="http://www.anti-slapp.org/wp-content/uploads/2011/06/default_gravatar.jpg" >
			</div>
			<div class="testonews">
				<div class="post-header">
					<span class="titolo">Flanker</span>
				</div>
				<h6>Paternoster Matteo</h6>
				<p>Altezza: 182 cm</p>
				<p>Peso: 94 kg</p>
				<p>Anno: 1998</p>
				<p>Provenienza: Revò</p>
			</div>
			<div class=”clearer”> </div>
		</div>
	 </div>
	</div>
</div>
<div class="row-fluid">
	<div class="span6">
	 <div class="principale">
		<div class="row-fluid textimage">			
			<div class="imageContainer avatarSize">
				<img src="http://i.imgur.com/oEyxD5K.png" >
			</div>
			<div class="testonews">
				<div class="post-header">
					<span class="titolo">Ala/Estremo</span>
				</div>
				<h6>Fellin Andrea</h6>
				<p>Altezza: 183 cm</p>
				<p>Peso: 80 kg</p>
				<p>Anno: 1994</p>
				<p>Provenienza: Revo</p>
			</div>
			<div class=”clearer”> </div>
		</div>
	 </div>
	</div>
	<div class="span6">
	 <div class="principale">
		<div class="row-fluid textimage">			
			<div class="imageContainer avatarSize">
				<img src="http://i.imgur.com/xlAp5KZ.png" >
			</div>
			<div class="testonews">
				<div class="post-header">
					<span class="titolo">Ala</span>
				</div>
				<h6>Valli Mirko</h6>
				<p>Altezza: 180 cm</p>
				<p>Peso: 78 kg</p>
				<p>Anno: 1983</p>
				<p>Provenienza: Cles</p>
			</div>
			<div class=”clearer”> </div>
		</div>
	 </div>
	</div>
</div>
