<br /><br />
<div class="center">
	<h4>Staff Cedroni Maschile</h4>
</div>
<br />
<div class="row-fluid">
	<div class="span6">
	 <div class="principale">
		<div class="row-fluid textimage">			
			<div class="imageContainer">
				<img src="https://fbcdn-sphotos-a-a.akamaihd.net/hphotos-ak-ash3/936430_10201569541466774_897057211_n.jpg" >
			</div>
			<div class="testonews">
				<div class="post-header">
					<span class="titolo">Allenatore</span>
				</div>
				<h6>Martintoni Davide</h6>
				<p>Mini descrizione della persona o cazzate varie</p>
			</div>
			<div class=”clearer”> </div>
		</div>
	 </div>
	</div>
	<div class="span6">
	 <div class="principale">
		<div class="row-fluid textimage">			
			<div class="imageContainer">
				<img src="https://fbcdn-sphotos-a-a.akamaihd.net/hphotos-ak-ash3/936430_10201569541466774_897057211_n.jpg" >
			</div>
			<div class="testonews">
				<div class="post-header">
					<span class="titolo">Allenatore</span>
				</div>
				<h6>Martintoni Davide</h6>
				<p>Mini descrizione della persona o cazzate varie</p>
			</div>
			<div class=”clearer”> </div>
		</div>
	 </div>
	</div>
</div>
<br /><br />
<div class="center">
	<h4>La Rosa Cedroni Maschile</h4>
</div>
<br />
<div class="row-fluid">
	<div class="span6">
	 <div class="principale">
		<div class="row-fluid textimage">			
			<div class="imageContainer">
				<img src="https://fbcdn-sphotos-a-a.akamaihd.net/hphotos-ak-ash3/936430_10201569541466774_897057211_n.jpg" >
			</div>
			<div class="testonews">
				<div class="post-header">
					<span class="titolo">Allenatore</span>
				</div>
				<h6>Martintoni Davide</h6>
				<p>Mini descrizione della persona o cazzate varie</p>
			</div>
			<div class=”clearer”> </div>
		</div>
	 </div>
	</div>
	<div class="span6">
	 <div class="principale">
		<div class="row-fluid textimage">			
			<div class="imageContainer">
				<img src="https://fbcdn-sphotos-a-a.akamaihd.net/hphotos-ak-ash3/936430_10201569541466774_897057211_n.jpg" >
			</div>
			<div class="testonews">
				<div class="post-header">
					<span class="titolo">Allenatore</span>
				</div>
				<h6>Martintoni Davide</h6>
				<p>Mini descrizione della persona o cazzate varie</p>
			</div>
			<div class=”clearer”> </div>
		</div>
	 </div>
	</div>
</div>
<div class="row-fluid">
	<div class="span6">
	 <div class="principale">
		<div class="row-fluid textimage">			
			<div class="imageContainer">
				<img src="https://fbcdn-sphotos-a-a.akamaihd.net/hphotos-ak-ash3/936430_10201569541466774_897057211_n.jpg" >
			</div>
			<div class="testonews">
				<div class="post-header">
					<span class="titolo">Allenatore</span>
				</div>
				<h6>Martintoni Davide</h6>
				<p>Mini descrizione della persona o cazzate varie</p>
			</div>
			<div class=”clearer”> </div>
		</div>
	 </div>
	</div>
	<div class="span6">
	 <div class="principale">
		<div class="row-fluid textimage">			
			<div class="imageContainer">
				<img src="https://fbcdn-sphotos-a-a.akamaihd.net/hphotos-ak-ash3/936430_10201569541466774_897057211_n.jpg" >
			</div>
			<div class="testonews">
				<div class="post-header">
					<span class="titolo">Allenatore</span>
				</div>
				<h6>Martintoni Davide</h6>
				<p>Mini descrizione della persona o cazzate varie</p>
			</div>
			<div class=”clearer”> </div>
		</div>
	 </div>
	</div>
</div>
<div class="row-fluid">
	<div class="span6">
	 <div class="principale">
		<div class="row-fluid textimage">			
			<div class="imageContainer">
				<img src="https://fbcdn-sphotos-a-a.akamaihd.net/hphotos-ak-ash3/936430_10201569541466774_897057211_n.jpg" >
			</div>
			<div class="testonews">
				<div class="post-header">
					<span class="titolo">Allenatore</span>
				</div>
				<h6>Martintoni Davide</h6>
				<p>Mini descrizione della persona o cazzate varie</p>
			</div>
			<div class=”clearer”> </div>
		</div>
	 </div>
	</div>
	<div class="span6">
	 <div class="principale">
		<div class="row-fluid textimage">			
			<div class="imageContainer">
				<img src="https://fbcdn-sphotos-a-a.akamaihd.net/hphotos-ak-ash3/936430_10201569541466774_897057211_n.jpg" >
			</div>
			<div class="testonews">
				<div class="post-header">
					<span class="titolo">Allenatore</span>
				</div>
				<h6>Martintoni Davide</h6>
				<p>Mini descrizione della persona o cazzate varie</p>
			</div>
			<div class=”clearer”> </div>
		</div>
	 </div>
	</div>
</div>
<div class="row-fluid">
	<div class="span6">
	 <div class="principale">
		<div class="row-fluid textimage">			
			<div class="imageContainer">
				<img src="https://fbcdn-sphotos-a-a.akamaihd.net/hphotos-ak-ash3/936430_10201569541466774_897057211_n.jpg" >
			</div>
			<div class="testonews">
				<div class="post-header">
					<span class="titolo">Allenatore</span>
				</div>
				<h6>Martintoni Davide</h6>
				<p>Mini descrizione della persona o cazzate varie</p>
			</div>
			<div class=”clearer”> </div>
		</div>
	 </div>
	</div>
	<div class="span6">
	 <div class="principale">
		<div class="row-fluid textimage">			
			<div class="imageContainer">
				<img src="https://fbcdn-sphotos-a-a.akamaihd.net/hphotos-ak-ash3/936430_10201569541466774_897057211_n.jpg" >
			</div>
			<div class="testonews">
				<div class="post-header">
					<span class="titolo">Allenatore</span>
				</div>
				<h6>Martintoni Davide</h6>
				<p>Mini descrizione della persona o cazzate varie</p>
			</div>
			<div class=”clearer”> </div>
		</div>
	 </div>
	</div>
</div>
<div class="row-fluid">
	<div class="span6">
	 <div class="principale">
		<div class="row-fluid textimage">			
			<div class="imageContainer">
				<img src="https://fbcdn-sphotos-a-a.akamaihd.net/hphotos-ak-ash3/936430_10201569541466774_897057211_n.jpg" >
			</div>
			<div class="testonews">
				<div class="post-header">
					<span class="titolo">Allenatore</span>
				</div>
				<h6>Martintoni Davide</h6>
				<p>Mini descrizione della persona o cazzate varie</p>
			</div>
			<div class=”clearer”> </div>
		</div>
	 </div>
	</div>
	<div class="span6">
	 <div class="principale">
		<div class="row-fluid textimage">			
			<div class="imageContainer">
				<img src="https://fbcdn-sphotos-a-a.akamaihd.net/hphotos-ak-ash3/936430_10201569541466774_897057211_n.jpg" >
			</div>
			<div class="testonews">
				<div class="post-header">
					<span class="titolo">Allenatore</span>
				</div>
				<h6>Martintoni Davide</h6>
				<p>Mini descrizione della persona o cazzate varie</p>
			</div>
			<div class=”clearer”> </div>
		</div>
	 </div>
	</div>
</div>
<div class="row-fluid">
	<div class="span6">
	 <div class="principale">
		<div class="row-fluid textimage">			
			<div class="imageContainer">
				<img src="https://fbcdn-sphotos-a-a.akamaihd.net/hphotos-ak-ash3/936430_10201569541466774_897057211_n.jpg" >
			</div>
			<div class="testonews">
				<div class="post-header">
					<span class="titolo">Allenatore</span>
				</div>
				<h6>Martintoni Davide</h6>
				<p>Mini descrizione della persona o cazzate varie</p>
			</div>
			<div class=”clearer”> </div>
		</div>
	 </div>
	</div>
	<div class="span6">
	 <div class="principale">
		<div class="row-fluid textimage">			
			<div class="imageContainer">
				<img src="https://fbcdn-sphotos-a-a.akamaihd.net/hphotos-ak-ash3/936430_10201569541466774_897057211_n.jpg" >
			</div>
			<div class="testonews">
				<div class="post-header">
					<span class="titolo">Allenatore</span>
				</div>
				<h6>Martintoni Davide</h6>
				<p>Mini descrizione della persona o cazzate varie</p>
			</div>
			<div class=”clearer”> </div>
		</div>
	 </div>
	</div>
</div>
<div class="row-fluid">
	<div class="span6">
	 <div class="principale">
		<div class="row-fluid textimage">			
			<div class="imageContainer">
				<img src="https://fbcdn-sphotos-a-a.akamaihd.net/hphotos-ak-ash3/936430_10201569541466774_897057211_n.jpg" >
			</div>
			<div class="testonews">
				<div class="post-header">
					<span class="titolo">Allenatore</span>
				</div>
				<h6>Martintoni Davide</h6>
				<p>Mini descrizione della persona o cazzate varie</p>
			</div>
			<div class=”clearer”> </div>
		</div>
	 </div>
	</div>
	<div class="span6">
	 <div class="principale">
		<div class="row-fluid textimage">			
			<div class="imageContainer">
				<img src="https://fbcdn-sphotos-a-a.akamaihd.net/hphotos-ak-ash3/936430_10201569541466774_897057211_n.jpg" >
			</div>
			<div class="testonews">
				<div class="post-header">
					<span class="titolo">Allenatore</span>
				</div>
				<h6>Martintoni Davide</h6>
				<p>Mini descrizione della persona o cazzate varie</p>
			</div>
			<div class=”clearer”> </div>
		</div>
	 </div>
	</div>
</div>
<div class="row-fluid">
	<div class="span6">
	 <div class="principale">
		<div class="row-fluid textimage">			
			<div class="imageContainer">
				<img src="https://fbcdn-sphotos-a-a.akamaihd.net/hphotos-ak-ash3/936430_10201569541466774_897057211_n.jpg" >
			</div>
			<div class="testonews">
				<div class="post-header">
					<span class="titolo">Allenatore</span>
				</div>
				<h6>Martintoni Davide</h6>
				<p>Mini descrizione della persona o cazzate varie</p>
			</div>
			<div class=”clearer”> </div>
		</div>
	 </div>
	</div>
	<div class="span6">
	 <div class="principale">
		<div class="row-fluid textimage">			
			<div class="imageContainer">
				<img src="https://fbcdn-sphotos-a-a.akamaihd.net/hphotos-ak-ash3/936430_10201569541466774_897057211_n.jpg" >
			</div>
			<div class="testonews">
				<div class="post-header">
					<span class="titolo">Allenatore</span>
				</div>
				<h6>Martintoni Davide</h6>
				<p>Mini descrizione della persona o cazzate varie</p>
			</div>
			<div class=”clearer”> </div>
		</div>
	 </div>
	</div>
</div>
<div class="row-fluid">
	<div class="span6">
	 <div class="principale">
		<div class="row-fluid textimage">			
			<div class="imageContainer">
				<img src="https://fbcdn-sphotos-a-a.akamaihd.net/hphotos-ak-ash3/936430_10201569541466774_897057211_n.jpg" >
			</div>
			<div class="testonews">
				<div class="post-header">
					<span class="titolo">Allenatore</span>
				</div>
				<h6>Martintoni Davide</h6>
				<p>Mini descrizione della persona o cazzate varie</p>
			</div>
			<div class=”clearer”> </div>
		</div>
	 </div>
	</div>
	<div class="span6">
	 <div class="principale">
		<div class="row-fluid textimage">			
			<div class="imageContainer">
				<img src="https://fbcdn-sphotos-a-a.akamaihd.net/hphotos-ak-ash3/936430_10201569541466774_897057211_n.jpg" >
			</div>
			<div class="testonews">
				<div class="post-header">
					<span class="titolo">Allenatore</span>
				</div>
				<h6>Martintoni Davide</h6>
				<p>Mini descrizione della persona o cazzate varie</p>
			</div>
			<div class=”clearer”> </div>
		</div>
	 </div>
	</div>
</div>