<br /><br />
<div class="center">
	<h4>Staff Cedroni Maschile</h4>
</div>
<br />
<div class="row-fluid">
	<div class="span6">
	 <div class="principale">
		<div class="row-fluid textimage">			
			<div class="imageContainer">
				<img src="http://www.anti-slapp.org/wp-content/uploads/2011/06/default_gravatar.jpg" >
			</div>
			<div class="testonews">
				<div class="post-header">
					<span class="titolo">Head Coach</span>
				</div>
				<h6>Rosati Daniele</h6>
			</div>
			<div class=”clearer”> </div>
		</div>
	 </div>
	</div>
	<div class="span6">
	 <div class="principale">
		<div class="row-fluid textimage">			
			<div class="imageContainer">
				<img src="http://www.anti-slapp.org/wp-content/uploads/2011/06/default_gravatar.jpg" >
			</div>
			<div class="testonews">
				<div class="post-header">
					<span class="titolo">Assistente</span>
				</div>
				<h6>Salmoiraghi Pablo</h6>
			</div>
			<div class=”clearer”> </div>
		</div>
	 </div>
	</div>
</div>
<br /><br />
<div class="center">
	<h4>La Rosa Cedroni Maschile</h4>
</div>
<br />
<div class="row-fluid">
	<div class="span6">
	 <div class="principale">
		<div class="row-fluid textimage">			
			<div class="imageContainer">
				<img src="http://www.anti-slapp.org/wp-content/uploads/2011/06/default_gravatar.jpg" >
			</div>
			<div class="testonews">
				<div class="post-header">
					<span class="titolo">Estremo/Ala</span>
				</div>
				<h6>Amato Simone</h6>
				<p>Altezza: 183 cm</p>
				<p>Peso: 86 kg</p>
				<p>Anno: 1987</p>
				<p>Provenienza: Romeno</p>
			</div>
			<div class=”clearer”> </div>
		</div>
	 </div>
	</div>
	<div class="span6">
	 <div class="principale">
		<div class="row-fluid textimage">			
			<div class="imageContainer">
				<img src="http://www.anti-slapp.org/wp-content/uploads/2011/06/default_gravatar.jpg" >
			</div>
			<div class="testonews">
				<div class="post-header">
					<span class="titolo">Estremo/Ala</span>
				</div>
				<h6>Bonani Luca</h6>
				<p>Altezza: 170 cm</p>
				<p>Peso: 65 kg</p>
				<p>Anno: 1985</p>
				<p>Provenienza: Rumo</p>
			</div>
			<div class=”clearer”> </div>
		</div>
	 </div>
	</div>
</div>
<div class="row-fluid">
	<div class="span6">
	 <div class="principale">
		<div class="row-fluid textimage">			
			<div class="imageContainer">
				<img src="http://www.anti-slapp.org/wp-content/uploads/2011/06/default_gravatar.jpg" >
			</div>
			<div class="testonews">
				<div class="post-header">
					<span class="titolo">Flanker/Nr.8</span>
				</div>
				<h6>Chini Alessio</h6>
				<p>Altezza: 187 cm</p>
				<p>Peso: 85 kg</p>
				<p>Anno: 1987</p>
				<p>Provenienza: Romeno</p>
			</div>
			<div class=”clearer”> </div>
		</div>
	 </div>
	</div>
	<div class="span6">
	 <div class="principale">
		<div class="row-fluid textimage">			
			<div class="imageContainer">
				<img src="http://www.anti-slapp.org/wp-content/uploads/2011/06/default_gravatar.jpg" >
			</div>
			<div class="testonews">
				<div class="post-header">
					<span class="titolo">Mediano di Mischia</span>
				</div>
				<h6>Clauser Vinicio</h6>
				<p>Altezza: 180 cm</p>
				<p>Peso: 82 kg</p>
				<p>Anno: 1988</p>
				<p>Provenienza: Romallo</p>
			</div>
			<div class=”clearer”> </div>
		</div>
	 </div>
	</div>
</div>
<div class="row-fluid">
	<div class="span6">
	 <div class="principale">
		<div class="row-fluid textimage">			
			<div class="imageContainer">
				<img src="http://www.anti-slapp.org/wp-content/uploads/2011/06/default_gravatar.jpg" >
			</div>
			<div class="testonews">
				<div class="post-header">
					<span class="titolo">Tallonatore</span>
				</div>
				<h6>Colapietro Andrea</h6>
				<p>Altezza: 172 cm</p>
				<p>Peso: 92 kg</p>
				<p>Anno: 1990</p>
				<p>Provenienza: Fondo</p>
			</div>
			<div class=”clearer”> </div>
		</div>
	 </div>
	</div>
	<div class="span6">
	 <div class="principale">
		<div class="row-fluid textimage">			
			<div class="imageContainer">
				<img src="http://www.anti-slapp.org/wp-content/uploads/2011/06/default_gravatar.jpg" >
			</div>
			<div class="testonews">
				<div class="post-header">
					<span class="titolo">Estremo/Ala</span>
				</div>
				<h6>Corbani Andrea</h6>
				<p>Altezza: 180 cm</p>
				<p>Peso: 70 kg</p>
				<p>Anno: 1989</p>
				<p>Provenienza: Tuenno</p>
			</div>
			<div class=”clearer”> </div>
		</div>
	 </div>
	</div>
</div>
<div class="row-fluid">
	<div class="span6">
	 <div class="principale">
		<div class="row-fluid textimage">			
			<div class="imageContainer">
				<img src="http://www.anti-slapp.org/wp-content/uploads/2011/06/default_gravatar.jpg" >
			</div>
			<div class="testonews">
				<div class="post-header">
					<span class="titolo">Flanker</span>
				</div>
				<h6>Covi Alessio</h6>
				<p>Altezza: 183 cm</p>
				<p>Peso: 80 kg</p>
				<p>Anno: 1995</p>
				<p>Provenienza: Fondo</p>
			</div>
			<div class=”clearer”> </div>
		</div>
	 </div>
	</div>
	<div class="span6">
	 <div class="principale">
		<div class="row-fluid textimage">			
			<div class="imageContainer">
				<img src="http://www.anti-slapp.org/wp-content/uploads/2011/06/default_gravatar.jpg" >
			</div>
			<div class="testonews">
				<div class="post-header">
					<span class="titolo">Tallonatore/Pilone</span>
				</div>
				<h6>Covi Matteo</h6>
				<p>Altezza: 177 cm</p>
				<p>Peso: 88 kg</p>
				<p>Anno: 1982</p>
				<p>Provenienza: Fondo</p>
			</div>
			<div class=”clearer”> </div>
		</div>
	 </div>
	</div>
</div>
<div class="row-fluid">
	<div class="span6">
	 <div class="principale">
		<div class="row-fluid textimage">			
			<div class="imageContainer">
				<img src="http://www.anti-slapp.org/wp-content/uploads/2011/06/default_gravatar.jpg" >
			</div>
			<div class="testonews">
				<div class="post-header">
					<span class="titolo">Ala</span>
				</div>
				<h6>Endrici Francesco</h6>
				<p>Altezza: 175 cm</p>
				<p>Peso: 70 kg</p>
				<p>Anno: 1987</p>
				<p>Provenienza: Don</p>
			</div>
			<div class=”clearer”> </div>
		</div>
	 </div>
	</div>
	<div class="span6">
	 <div class="principale">
		<div class="row-fluid textimage">			
			<div class="imageContainer">
				<img src="http://www.anti-slapp.org/wp-content/uploads/2011/06/default_gravatar.jpg" >
			</div>
			<div class="testonews">
				<div class="post-header">
					<span class="titolo">Flanker</span>
				</div>
				<h6>Galeaz Daniele</h6>
				<p>Altezza: 186 cm</p>
				<p>Peso: 82 kg</p>
				<p>Anno: 1991</p>
				<p>Provenienza: Dambel</p>
			</div>
			<div class=”clearer”> </div>
		</div>
	 </div>
	</div>
</div>
<div class="row-fluid">
	<div class="span6">
	 <div class="principale">
		<div class="row-fluid textimage">			
			<div class="imageContainer">
				<img src="http://www.anti-slapp.org/wp-content/uploads/2011/06/default_gravatar.jpg" >
			</div>
			<div class="testonews">
				<div class="post-header">
					<span class="titolo">Centro</span>
				</div>
				<h6>Kofler Klaus</h6>
				<p>Altezza: 175 cm</p>
				<p>Peso: 80 kg</p>
				<p>Anno: 1988</p>
				<p>Provenienza: S. Felice</p>
			</div>
			<div class=”clearer”> </div>
		</div>
	 </div>
	</div>
	<div class="span6">
	 <div class="principale">
		<div class="row-fluid textimage">			
			<div class="imageContainer">
				<img src="http://www.anti-slapp.org/wp-content/uploads/2011/06/default_gravatar.jpg" >
			</div>
			<div class="testonews">
				<div class="post-header">
					<span class="titolo">Flanker/Nr.8</span>
				</div>
				<h6>Ianes Thomas</h6>
				<p>Altezza: 181 cm</p>
				<p>Peso: 85 kg</p>
				<p>Anno: 1985</p>
				<p>Provenienza: Castelfondo</p>
			</div>
			<div class=”clearer”> </div>
		</div>
	 </div>
	</div>
</div>
<div class="row-fluid">
	<div class="span6">
	 <div class="principale">
		<div class="row-fluid textimage">			
			<div class="imageContainer">
				<img src="http://www.anti-slapp.org/wp-content/uploads/2011/06/default_gravatar.jpg" >
			</div>
			<div class="testonews">
				<div class="post-header">
					<span class="titolo">Seconda Linea</span>
				</div>
				<h6>Inama Martin</h6>
				<p>Altezza: 197 cm</p>
				<p>Peso: 102 kg</p>
				<p>Anno: 1986</p>
				<p>Provenienza: Romeno</p>
			</div>
			<div class=”clearer”> </div>
		</div>
	 </div>
	</div>
	<div class="span6">
	 <div class="principale">
		<div class="row-fluid textimage">			
			<div class="imageContainer">
				<img src="http://www.anti-slapp.org/wp-content/uploads/2011/06/default_gravatar.jpg" >
			</div>
			<div class="testonews">
				<div class="post-header">
					<span class="titolo">Ala</span>
				</div>
				<h6>Larcher Massimiliano</h6>
				<p>Altezza: 185 cm</p>
				<p>Peso: 75 kg</p>
				<p>Anno: 1991</p>
				<p>Provenienza: Tuenno</p>
			</div>
			<div class=”clearer”> </div>
		</div>
	 </div>
	</div>
</div>
<div class="row-fluid">
	<div class="span6">
	 <div class="principale">
		<div class="row-fluid textimage">			
			<div class="imageContainer">
				<img src="http://www.anti-slapp.org/wp-content/uploads/2011/06/default_gravatar.jpg" >
			</div>
			<div class="testonews">
				<div class="post-header">
					<span class="titolo">Centro</span>
				</div>
				<h6>Tommasi Leonardo</h6>
				<p>Altezza: 173 cm</p>
				<p>Peso: 78 kg</p>
				<p>Anno: 1991</p>
				<p>Provenienza: Tuenno</p>
			</div>
			<div class=”clearer”> </div>
		</div>
	 </div>
	</div>
	<div class="span6">
	 <div class="principale">
		<div class="row-fluid textimage">			
			<div class="imageContainer">
				<img src="http://www.anti-slapp.org/wp-content/uploads/2011/06/default_gravatar.jpg" >
			</div>
			<div class="testonews">
				<div class="post-header">
					<span class="titolo">Centro/Ala</span>
				</div>
				<h6>Maggi Giorgio</h6>
				<p>Altezza: 179 cm</p>
				<p>Peso: 86 kg</p>
				<p>Anno: 1980</p>
				<p>Provenienza: Romallo</p>
			</div>
			<div class=”clearer”> </div>
		</div>
	 </div>
	</div>
</div>
<div class="row-fluid">
	<div class="span6">
	 <div class="principale">
		<div class="row-fluid textimage">			
			<div class="imageContainer">
				<img src="http://www.anti-slapp.org/wp-content/uploads/2011/06/default_gravatar.jpg" >
			</div>
			<div class="testonews">
				<div class="post-header">
					<span class="titolo">Seconda Linea</span>
				</div>
				<h6>Manaigo Simone</h6>
				<p>Altezza: 188 cm</p>
				<p>Peso: 82 kg</p>
				<p>Anno: 1991</p>
				<p>Provenienza: Cles</p>
			</div>
			<div class=”clearer”> </div>
		</div>
	 </div>
	</div>
	<div class="span6">
	 <div class="principale">
		<div class="row-fluid textimage">			
			<div class="imageContainer">
				<img src="http://www.anti-slapp.org/wp-content/uploads/2011/06/default_gravatar.jpg" >
			</div>
			<div class="testonews">
				<div class="post-header">
					<span class="titolo">Mediano di Mischia</span>
				</div>
				<h6>Martintoni Davide</h6>
				<p>Altezza: 183 cm</p>
				<p>Peso: 77 kg</p>
				<p>Anno: 1992</p>
				<p>Provenienza: Dambel</p>
			</div>
			<div class=”clearer”> </div>
		</div>
	 </div>
	</div>
</div>
<div class="row-fluid">
	<div class="span6">
	 <div class="principale">
		<div class="row-fluid textimage">			
			<div class="imageContainer">
				<img src="http://www.anti-slapp.org/wp-content/uploads/2011/06/default_gravatar.jpg" >
			</div>
			<div class="testonews">
				<div class="post-header">
					<span class="titolo">Pilone</span>
				</div>
				<h6>Pezzini Daniele</h6>
				<p>Altezza: 185 cm</p>
				<p>Peso: 115 kg</p>
				<p>Anno: 1989</p>
				<p>Provenienza: Amblar</p>
			</div>
			<div class=”clearer”> </div>
		</div>
	 </div>
	</div>
	<div class="span6">
	 <div class="principale">
		<div class="row-fluid textimage">			
			<div class="imageContainer">
				<img src="http://www.anti-slapp.org/wp-content/uploads/2011/06/default_gravatar.jpg" >
			</div>
			<div class="testonews">
				<div class="post-header">
					<span class="titolo">Ala</span>
				</div>
				<h6>Ramello Maximiliano</h6>
				<p>Altezza: 185 cm</p>
				<p>Peso: 67 kg</p>
				<p>Anno: 1984</p>
				<p>Provenienza: Fondo</p>
			</div>
			<div class=”clearer”> </div>
		</div>
	 </div>
	</div>
</div>
<div class="row-fluid">
	<div class="span6">
	 <div class="principale">
		<div class="row-fluid textimage">			
			<div class="imageContainer">
				<img src="http://www.anti-slapp.org/wp-content/uploads/2011/06/default_gravatar.jpg" >
			</div>
			<div class="testonews">
				<div class="post-header">
					<span class="titolo">Pilone</span>
				</div>
				<h6>Rauzi Fabiano (Capitano)</h6>
				<p>Altezza: 187 cm</p>
				<p>Peso: 101 kg</p>
				<p>Anno: 1979</p>
				<p>Provenienza: Cloz</p>
			</div>
			<div class=”clearer”> </div>
		</div>
	 </div>
	</div>
	<div class="span6">
	 <div class="principale">
		<div class="row-fluid textimage">			
			<div class="imageContainer">
				<img src="http://www.anti-slapp.org/wp-content/uploads/2011/06/default_gravatar.jpg" >
			</div>
			<div class="testonews">
				<div class="post-header">
					<span class="titolo">Centro</span>
				</div>
				<h6>Rosati Damiano</h6>
				<p>Altezza: 176 cm</p>
				<p>Peso: 81 kg</p>
				<p>Anno: 1995</p>
				<p>Provenienza: Romeno</p>
			</div>
			<div class=”clearer”> </div>
		</div>
	 </div>
	</div>
</div>
<div class="row-fluid">
	<div class="span6">
	 <div class="principale">
		<div class="row-fluid textimage">			
			<div class="imageContainer">
				<img src="http://www.anti-slapp.org/wp-content/uploads/2011/06/default_gravatar.jpg" >
			</div>
			<div class="testonews">
				<div class="post-header">
					<span class="titolo">Flanker</span>
				</div>
				<h6>Sabatini Andrea</h6>
				<p>Altezza: 171 cm</p>
				<p>Peso: 91 kg</p>
				<p>Anno: 1985</p>
				<p>Provenienza: Rumo</p>
			</div>
			<div class=”clearer”> </div>
		</div>
	 </div>
	</div>
	<div class="span6">
	 <div class="principale">
		<div class="row-fluid textimage">			
			<div class="imageContainer">
				<img src="http://www.anti-slapp.org/wp-content/uploads/2011/06/default_gravatar.jpg" >
			</div>
			<div class="testonews">
				<div class="post-header">
					<span class="titolo">Ala/Estremo</span>
				</div>
				<h6>Salmoiraghi Thomas</h6>
				<p>Altezza: 180 cm</p>
				<p>Peso: 60 kg</p>
				<p>Anno: 1994</p>
				<p>Provenienza: Cles</p>
			</div>
			<div class=”clearer”> </div>
		</div>
	 </div>
	</div>
</div>
<div class="row-fluid">
	<div class="span6">
	 <div class="principale">
		<div class="row-fluid textimage">			
			<div class="imageContainer">
				<img src="http://www.anti-slapp.org/wp-content/uploads/2011/06/default_gravatar.jpg" >
			</div>
			<div class="testonews">
				<div class="post-header">
					<span class="titolo">Flanker</span>
				</div>
				<h6>Springhetti Filippo</h6>
				<p>Altezza: 179 cm</p>
				<p>Peso: 86 kg</p>
				<p>Anno: 1987</p>
				<p>Provenienza: Cavareno</p>
			</div>
			<div class=”clearer”> </div>
		</div>
	 </div>
	</div>
	<div class="span6">
	 <div class="principale">
		<div class="row-fluid textimage">			
			<div class="imageContainer">
				<img src="http://www.anti-slapp.org/wp-content/uploads/2011/06/default_gravatar.jpg" >
			</div>
			<div class="testonews">
				<div class="post-header">
					<span class="titolo">Mediano d'Apertura</span>
				</div>
				<h6>Straudi Nicola</h6>
				<p>Altezza: 170 cm</p>
				<p>Peso: 86 kg</p>
				<p>Anno: 1985</p>
				<p>Provenienza: Don</p>
			</div>
			<div class=”clearer”> </div>
		</div>
	 </div>
	</div>
</div>
<div class="row-fluid">
	<div class="span6">
	 <div class="principale">
		<div class="row-fluid textimage">			
			<div class="imageContainer">
				<img src="http://www.anti-slapp.org/wp-content/uploads/2011/06/default_gravatar.jpg" >
			</div>
			<div class="testonews">
				<div class="post-header">
					<span class="titolo">Seconda Linea</span>
				</div>
				<h6>Turri Moreno</h6>
				<p>Altezza: 192 cm</p>
				<p>Peso: 85 kg</p>
				<p>Anno: 1986</p>
				<p>Provenienza: Castelfondo</p>
			</div>
			<div class=”clearer”> </div>
		</div>
	 </div>
	</div>
	<div class="span6">
	 <div class="principale">
		<div class="row-fluid textimage">			
			<div class="imageContainer">
				<img src="http://www.anti-slapp.org/wp-content/uploads/2011/06/default_gravatar.jpg" >
			</div>
			<div class="testonews">
				<div class="post-header">
					<span class="titolo">Tallonatore</span>
				</div>
				<h6>Verber Marcello</h6>
				<p>Altezza: 172 cm</p>
				<p>Peso: 85 kg</p>
				<p>Anno: 1986</p>
				<p>Provenienza: Dambel</p>
			</div>
			<div class=”clearer”> </div>
		</div>
	 </div>
	</div>
</div>
<div class="row-fluid">
	<div class="span6">
	 <div class="principale">
		<div class="row-fluid textimage">			
			<div class="imageContainer">
				<img src="http://www.anti-slapp.org/wp-content/uploads/2011/06/default_gravatar.jpg" >
			</div>
			<div class="testonews">
				<div class="post-header">
					<span class="titolo">Ala/Estremo</span>
				</div>
				<h6>Zadra Ivan</h6>
				<p>Altezza: 170 cm</p>
				<p>Peso: 61 kg</p>
				<p>Anno: 1991</p>
				<p>Provenienza: Tres</p>
			</div>
			<div class=”clearer”> </div>
		</div>
	 </div>
	</div>
	<div class="span6">
	 <div class="principale">
		<div class="row-fluid textimage">			
			<div class="imageContainer">
				<img src="http://www.anti-slapp.org/wp-content/uploads/2011/06/default_gravatar.jpg" >
			</div>
			<div class="testonews">
				<div class="post-header">
					<span class="titolo">Centro</span>
				</div>
				<h6>Zucal Fabio</h6>
				<p>Altezza: 170 cm</p>
				<p>Peso: 70 kg</p>
				<p>Anno: 1987</p>
				<p>Provenienza: Don</p>
			</div>
			<div class=”clearer”> </div>
		</div>
	 </div>
	</div>
</div>
<div class="row-fluid">
	<div class="span6">
	 <div class="principale">
		<div class="row-fluid textimage">			
			<div class="imageContainer">
				<img src="http://www.anti-slapp.org/wp-content/uploads/2011/06/default_gravatar.jpg" >
			</div>
			<div class="testonews">
				<div class="post-header">
					<span class="titolo">Mediano d'Apertura</span>
				</div>
				<h6>Valli Alex</h6>
				<p>Altezza: 180 cm</p>
				<p>Peso: 78 kg</p>
				<p>Anno: 1983</p>
				<p>Provenienza: Cles</p>
			</div>
			<div class=”clearer”> </div>
		</div>
	 </div>
	</div>
	<div class="span6">
	 <div class="principale">
		<div class="row-fluid textimage">			
			<div class="imageContainer">
				<img src="http://www.anti-slapp.org/wp-content/uploads/2011/06/default_gravatar.jpg" >
			</div>
			<div class="testonews">
				<div class="post-header">
					<span class="titolo">Pilone</span>
				</div>
				<h6>Fondriest Massimiliano</h6>
				<p>Altezza: 180 cm</p>
				<p>Peso: 108 kg</p>
				<p>Anno: 1983</p>
				<p>Provenienza: Cles</p>
			</div>
			<div class=”clearer”> </div>
		</div>
	 </div>
	</div>
</div>
