<div class="row-fluid center principale">	
	<h5 class="titolo-sezione"><%=@album.title%></h5>
	<ul class="thumbnails">
		<% @album.photos.each do |p| %>	
				<li class="thumbnail">
					<div class="contenitore">
                        <a class="fancybox" rel="gallery1" href="<%= p.image_url %>" title="<%=p.title%>">
                            <img src="<%= p.image_url %>" alt="">
                        </a>
                    </div>
				</li>
		<% end %>
	</ul>
</div>